/* Your existing styles for header, logo, and footer... */

header {
  background-color: rgb(155, 158, 155);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #a7cac6;
  color: white;
}

.logo img {
  width: 100px;
}

/* Mobile-first styles for the hamburger menu and navigation */
#hamburger-menu {
  display: block; /* Show hamburger menu on mobile */
  font-size: 30px;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  display: none; /* Hide the menu by default on mobile */
}

nav ul li {
  padding: 10px;
  text-align: center; /* Center align items for mobile view */
}

nav ul li a {
  color: rgb(12, 68, 9);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

/* Media Queries for larger screens */
@media screen and (min-width: 768px) {
  #hamburger-menu {
    display: none; /* Hide hamburger menu on larger screens */
  }

  nav ul {
    display: flex; /* Display the menu as a horizontal list on larger screens */
  }

  nav ul li {
    text-align: left; /* Align items to the left for larger screens */
  }

  nav ul li a:hover {
    text-decoration: underline;
  }
}

footer {
  background-color: rgb(139, 0, 127);
  padding: 32px;
  text-align: center;
  margin-top: auto;
}
