* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(155, 158, 155);
    padding: 24px;
}

h1 {
    margin: 0;
    text-align: center;
}

h3 {
    margin: 0;
    text-decoration: underline;
}

.flex-container {
    display: flex;
    /* flex-grow: 1; */
}

.main-content {
    /* flex-grow: 1; */
   /*  width: 70%; */
    flex: 0 0 70%;
}

.sidebar {
    background-color: yellowgreen;
    flex: 0 0 30%;
}

.reptile {
    background-color: cornsilk;
    border-radius: 10px;
    flex: 0 0 calc(50% - 32px);
/*     margin: 16px;
    padding: 16px; */
}

.imgLarge {
    width: 100%;
    height: auto;
}

footer {
    background-color: darkblue;
    padding: 32px;
}